@import "global.less";

* {
	margin: 0;
	padding: 0;
	font-family: 'barlow_condensedregular';
}

::selection {
	background: #be000a;
	color: #fff;
}

::-moz-selection {
	background: #be000a;
	color: #fff;
}

.wrapper {
	width: 92%;
	max-width: 1100px;
	margin: 0 auto;
	position: relative;
}

a:hover { text-decoration: none; }

.main-page {
	h1 { display: none; }
}

section, footer {
	width: 100%;
	float: left;
}
.auto_search_result{
	position: absolute;
}

.services-list {
	width: 100%;
	float: left;
	margin: 25px 0 0;
	text-align: center;
	
	li {
		display: inline-block;	
		width: 265px;
		height: 235px;
		text-align: center;
		margin: 0 3px;
		position: relative;
		padding-top: 50px;
		.box_sizing();
		
		h2 {
			font-size: 25px;
			text-transform: uppercase;
		}
		
		p {
			font-size: 18px;
			color: rgba(0,0,0,0.6);
			margin: 15px 0;
		}
				
		&:before {
			content: '';
			width: 50px;
			height: 1px;
			background: #02408a;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			margin: auto;
			
			display: none;
		}
		
		&:nth-child(1) {
			background: url('/css/layout/icons/internet.png') no-repeat center 0; /*35px*/
		}
		
		&:nth-child(2) {
			background: url('/css/layout/icons/tv.png') no-repeat center 0;
		}
		
		&:nth-child(3) {
			background: url('/css/layout/icons/mobil.png') no-repeat center 0;
		}
		
		&:nth-child(4) {
			background: url('/css/layout/icons/klientska_zona.png') no-repeat center 0;
			
			&:before { background: #c00c14; }
		}
	}
}

.kontakt-list {
	width: 100%;
	float: left;
	margin: 62px 0 0;
	text-align: center;
	
	li {
		display: inline-block;	
		width: 315px;
		height: 235px;
		text-align: center;
		margin: 0 22px;
		position: relative;
		vertical-align: top;
		padding-top: 70px;
		.box_sizing();
		
		h2 {
			font-size: 18px;
			text-transform: uppercase;
		}
		
		p {
			font-size: 18px;
			line-height: 1.5;
			color: rgba(0,0,0,0.6);
			margin: 15px 0;
		}
		
		a { color: inherit; }
		
		strong {
			font-size: 40px;
			font-weight: bold;
		}
				
		&:before {
			content: '';
			width: 50px;
			height: 1px;
			background: #003e8a;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			margin: auto;
			
			display: none;
		}
		
		&:nth-child(1) {
			background: url('/css/layout/icons/blue-mobile-icon.png') no-repeat center 0; /*35px*/
		}
		
		&:nth-child(2) {
			background: url('/css/layout/icons/blue-mail-icon.png') no-repeat center 0;
		}
		
		&:nth-child(3) {
			background: url('/css/layout/icons/red-light-icon.png') no-repeat center 0;
			
			a, h2, strong { color: #c00c14; }
		}
	}
	
	&.podanet {
		li:nth-child(2) { background: url('/css/layout/icons/tablet-blue.png') no-repeat center 0; }	
		li:nth-child(3) { background: url('/css/layout/icons/pc-blue.png') no-repeat center 0; h2 { color: #003e8a; } }		
	}
}

.mt200 { margin-top: 200px !important; }
.mb10 { margin-bottom: 10px !important; }

p {
	font-size: 18px;
	color: rgba(0,0,0,0.6);
	line-height: 1.4;
}

.h175 { height: 175px !important; }
.relative50 {
	top: 61px;
}

.button {
	text-decoration: none;
	display: block;
	width: 225px;
	height: 55px;
	padding-top: 18px;
	text-align: center;
	line-height: normal !important;
	font-size: 18px;
	color: #003e89;
	background: #fff;
	border: 0;
	cursor: pointer;
	margin: 25px auto 0;
	font-family: 'barlow_condensedsemibold';
	text-transform: uppercase;
	letter-spacing: 2px;
	.box_sizing();
	.box-shadow(0 10px 10px rgba(102,126,149,0.25));
	.transition(0.3s);
	
	&.wider { width: 300px; }
	&.huge { width: 380px; }
	
	&.smaller {
		width: 135px;
		height: 35px;
		padding-top: 9px;
		margin-top: 10px;
	}
	
	&.circle {
		width: 55px;
		font-size: 34px;
		font-weight: 100;
		padding-top: 12px;
		.radius(100%);
	}
	
	&.blue {
		background: #003e89;
		color: #fff;
	}
	
	&.red {
		background: #bc0006;
		color: #fff;
	}
	
	&:hover {
		.box-shadow(0px 0px 10px rgba(102,126,149,0.45));
	}
}

input.button {
	padding-top: 2px !important;
}

.clear { clear: both; }

.sll {
	width: 49%;
	float: left;
}

.slr {
	width: 49%;
	float: right;
}

.promo {
	width: 100%;
	height: 265px;
	float: left;
	margin: 20px 0 40px;
	background: url('/uploaded/promo.jpg') no-repeat center center;
	background-size: contain;
	position: relative;
	
	.button {
		position: absolute;
		right: 0;
		bottom: 0;
		color: #be000a;
	}
}

.article {
	h3 {
		margin-bottom: 25px;
		text-transform: uppercase;
		line-height: 1.2;
		
		a {
			color: inherit;
		}
	}
	
	p {
		line-height: 1.3;
	}
}

.lh1-5 { line-height: 1.5; }

footer {
	width: 100%;
	float: left;
	margin-top: 60px;
	border-top: 1px solid #f1f3f4;
	padding-top: 50px;
	.box_sizing();
}

#logo {
	width: 187px;
	height: 63px;
	text-decoration: none;
	display: block;
	background: url('/css/layout/logo.png');
	margin-top: 7px;
	margin-left: 25px;
	float: left;
}

.on-mobile { display: none; }

#header, #header_adopt {
	height: 80px;
	background: #fff;
	width: 100%;
	position: relative;
	z-index: 10; 
	float: left;
	-webkit-box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
	-ms-box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
	box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
}

#header_adopt.banner {
	height: 1118px;
	/*background: url('/css/layout/banner.jpg') no-repeat center center;*/
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-attachment: fixed;
}

#header {
	.transition(0.3);
	
	&.active {
		height: 200px;
	}
	
	.blur-box {
		width: 100%;
		height: 200px;
		float: left;
		position: relative;
		margin-top: 350px;
		border-top: 1px solid rgba(255,255,255,0.15);
		background: rgba(0,0,0,0.3);
		/*background: url('/css/layout/banner-blur.jpg') no-repeat;
		background-position: center;
		background-size: cover;
		background-attachment: fixed;*/
		
		.line {
			width: 100%;
			height: 100px;
			display: block;
			text-decoration: none;
			border-bottom: 1px solid rgba(255,255,255,0.15);
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
			cursor: pointer;
			text-shadow: 0px 0px 4px rgba(0,0,0,0.4);
			line-height: 110px;
			text-align: center;
			color: #fff;
			font-size: 60px;
			text-transform: uppercase;
			.box_sizing();
			.transition(0.3s);
			
			.buttons {
				width: 100% !important;
				margin: 0 !important;
				
				.button {
					vertical-align: top;
					display: inline-block !important;
					float: none !important;
					height: 65px !important;
					line-height: 1.2 !important;
					padding-top: 14px;
					.box_sizing();
					
					small {
						display: block;
						font-size: 15px;
						color: rgba(255,255,255,0.8);
					}
				}
			}
			
			strong {
				font-family: 'barlow_condensedsemibold';
				font-weight: normal;	
				position: relative;
				text-shadow: inherit;
			}
			
			&:nth-child(1) {
				strong {
					/*&:before {
						content: attr(data-strong);
						font-size: 18px;
						position: absolute;
						text-align: right;
						left: -350px;
						line-height: 1;
						top: 5px;
						vertical-align: text-top;
						width: 325px;
					}*/
					
					&:after {
						content: attr(data-regular);
						font-size: 18px;
						position: absolute;
						text-align: right;
						left: -350px;
						top: 20px;
						line-height: 1;
						font-family: 'barlow_condensedregular';
						width: 325px;
						.transition(0.3s);
					}
				}
			}
			
			&:nth-child(2) { 
				top: 100px; 
				
				strong {
					/*&:before {
						content: attr(data-strong);
						font-size: 18px;
						position: absolute;
						text-align: left;
						right: -470px;
						line-height: 1;
						top: 5px;
						width: 325px;
					}*/
					
					&:after {
						content: attr(data-regular);
						font-size: 18px;
						position: absolute;
						text-align: left;
						right: -470px;
						top: 20px;
						line-height: 1;
						font-family: 'barlow_condensedregular';
						width: 325px;
						.transition(0.3s);
					}
				}
			}
			
			&:nth-child(3) { 
				top: 200px;
				font-size: 18px; 
				text-shadow: 0px 0px 4px rgba(0,0,0,0.4);
				font-family: 'barlow_condensedsemibold';
			}
			
			&.active {
				background: #fff;
				color: #003e89;
				text-shadow: none;
				height: 200px;
				z-index: 10000;
				
				&:nth-child(1) {
					z-index: 10001;
				}
				
				strong:after {
					color: #666666;
				}
			}
		}
		
		/*&:before {
			width: 100%;
			height: 1118px;
			content: '';
			position: absolute;
			left: 0;
			top: -550px;
			background: url('/css/layout/banner.jpg') no-repeat;
			background-position: 50% calc(~"50% - 90px");
			background-size: cover;
			filter: blur(10px);
			z-index: 10;
		}*/
	}
}

@media (max-width: 1500px) {
	.blur-box {
		margin-top: 170px !important;
	}
}

#navbar { margin-right: 25px; }

.navbar {
	float: right;
	
	.navbar-header {
		display: none;
	}
	
	#navmenu {
		list-style: none;
		
		li {
			float: left;
			height: 80px;
			line-height: 80px;
			
			a {
				text-decoration: none;
				margin: 0 25px;
				color: #000;
				line-height: 80px;
				display: block;
				position: relative;
				font-size: 18px;
				font-family: 'barlow_condensedsemibold';
				text-transform: uppercase;
				.transition(0.3s);
				
				&:after {
					content: '';
					width: 0%;
					height: 2px;
					background: #bc0006;
					position: absolute;
					left: 0;
					top: 0;
					.transition(0.3s);
				}
				
				&:hover {
					&:after {
						width: 97%;
					}
				}
				
				&#sp22 {
					font-size: 0;
					width: 20px;
					position: relative;
					
					&:before {
						content: '';
						width: 100%;
						height: 50px;
						background: url('/css/layout/icons/search.png') no-repeat center center;
						background-size: contain;
						position: absolute;
						left: 0;
						top: 0;
						bottom: 0;
						margin: auto;
					}
				}
			}
			
			&:last-child a {
				margin-right: 0;
			}
			
			&.menu_active {
				a:after { width: 97%; }
			}
		}
	}
}

footer {
	padding-bottom: 50px;
	
	.copyright { 
		width: 100%; 
		text-align: center;
		font-size: 14px;
		margin-top: 50px;
		
		a { color: inherit; }
	}
	
	.wrapper { max-width: 1000px; }
	
	ul {
		width: 250px;
		float: left;
		list-style: none;
		
		li {
			margin-bottom: 5px;
			
			a {
				font-size: 16px;
				font-family: 'barlow_condensedregular';
				text-decoration: none;
				color: rgba(0,0,0,0.6);
				text-transform: uppercase;
				
				&:hover { text-decoration: underline; }
			}
			
			&.main {
				font-size: 18px;
				color: #000;
				text-transform: uppercase;
				font-family: 'barlow_condensedbold';
				margin-bottom: 15px;
			}
		}
	}
} 

/*.autocomplete{
	border: 1px solid rgba(0, 0, 0, 0.6);
	width: 302px;
	padding: 10px;
	margin: 30px 0 5px 0;
	font-size: 18px;
	transition: .2s;
	-webkit-transition: .2s; 
	-moz-transition: .2s;
	-o-transition: .2s;
	-ms-transition: .2s;

	&:focus{
		outline: none;
		border-color: #295c9c;

	}
	&:hover{
		border-color: #295c9c;
	}
}
*/

.auto_search_result{
	border: 1px solid #295c9c;
	background-color: #295c9c;
	color: #fff;
	.search_line{
		height: 30px;
		cursor: pointer;
		line-height: 30px;
		position: relative;
		font-size: 16px;
		text-transform: initial;
		text-align: left;
		padding: 0 20px;
		transition: .2s;
		-webkit-transition: .2s;
		-moz-transition: .2s;
		-o-transition: .2s;
		-ms-transition: .2s;

		/*&:hover, &:focus{
			background-color: #295c9c;
			color: #fff;
			&:after{
				content: "\f002";
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-decoration: inherit;
				color: #fff;
				position: absolute;
				right: 10px;


			}
		}*/
	}
}
.fstBox {
	position:fixed;
	top:0;
	left:0;
	z-index:10000;
	padding: 5px 10px;
	&.error{
		color:#a94442;
		background-color:#e22f2f !important;
		border-color:#e22f2f !important;
		hr{
			border-top-color:#e4b9c0
		}
		.alert-link{
			color:#843534
		}
		& .fstBox_ico:before{
			content: "\f00d" !important;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-decoration: inherit;
		}
	}

	&.ok {
		color:#3c763d;
		background-color:#dff0d8;
		border-color:#d6e9c6;
		hr{
			border-top-color:#c9e2b3;
		}
		.alert-link{
			color:#2b542c
		}
		& .fstBox_ico:before{
			content: "\f05d";
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-decoration: inherit;
		}

	}

	.fstBox_ico {
		display:inline-block;
		width: 20px;
		height: 20px;
		text-align: left;
		padding-right: 10px;
		float: left;
		line-height: 20px;
	}
	.fstBox_content {
		display:inline-block;
		width: auto;
		text-align: left;
		float: left;

	}
}

.dropShadow {
	z-index: 100;
	-webkit-box-shadow: 0 10px 10px rgba(102, 126, 149, 0.25);
	-moz-box-shadow: 0 10px 10px rgba(102, 126, 149, 0.25);
	-ms-box-shadow: 0 10px 10px rgba(102, 126, 149, 0.25);
	box-shadow: 0 10px 10px rgba(102, 126, 149, 0.25);
}

.mainImg {
	width: 100%;
	height: 700px;
	float: left;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	background-attachment: scroll;
	
	&.bgposbottom {
		background-position: center bottom !important;
	}
	
	.blackRow { 
		width: 100%;
		height: 200px;
		position: absolute;
		left: 0;
		top: 0;
		background: #000;
		background: rgba(0,0,0,0.5);
		
		ul {
			width: 100%;
			text-align: center;
			height: 100%;
			
			li {
				display: inline-block;
				width: 225px;
				height: 100%;
				margin: 0 5px;
				position: relative;
				.box_sizing();
				
				&:before {
					content: '';
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 27px 25px 0 25px;
					border-color: #ffffff transparent transparent transparent;
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					margin: auto;
					opacity: 0;
					.transition(0.35s);
				}
				
				&:nth-child(1) { background: url('/css/layout/icons/zeme-bila.png') no-repeat center 50px; }
				&:nth-child(2) { background: url('/css/layout/icons/tv-bila.png') no-repeat center 50px; }
				&:nth-child(3) { background: url('/css/layout/icons/mobile-bila.png') no-repeat center 50px; }
				
				a.button {
					width: 100%;
					margin-top: 110px;
					line-height: 60px;
					background: #003e89 !important;
					border: 1px solid #003e89 !important;
					color: #fff !important;
					font-size: 16px !important;
					box-shadow: none !important; 
					
					&:hover {
						background: rgba(255,255,255,0) !important;
						border-color: rgba(255,255,255,0.2) !important;
						box-shadow: none !important;
					}
				}
				
				&.active {
					&:before { opacity: 1; }
					
					a.button {
						background: rgba(255,255,255,0) !important;
						border-color: rgba(255,255,255,0.2) !important;
						box-shadow: none !important;
					}
				}
			}
		}
	}
	
	.bottomText, .middleText {
		width: 100%;
		height: 500px;
		float: left;
		margin-top: 200px;
		
		.title {
			font-size: 60px;
			color: #fff;
			text-align: center;
			margin-top: 160px;
			text-transform: uppercase;
			font-family: 'barlow_condensedsemibold';
			
			small {
				display: block;
				font-size: 25px;
				font-family: 'barlow_condensedregular';
				margin-top: 15px;
			}
		}
		
		.button {
			width: 270px;
			color: #bc0006;
			
			&:hover {
				background: #003e89;
				color: #fff;
			}
		}
	}
	
	.middleText {
		height: auto;
		max-width: 700px;
		float: none;
		margin: 250px auto 0;
		
		.title { margin-top: 0; }
	}
}

.chciPodu {
	form {
		text-align: center;
	}
	
	.button {
		display: inline-block !important;
	}
}

.icons-list {
	text-align: center;
	
	li {
		display: inline-block;
		vertical-align: top;
		max-width: 250px;
		margin: 0 20px;
		
		a {
			color: #003987;
		}
		
		img {
			display: block;
			margin: 20px auto;
		}
		
		strong {
			font-size: 18px;
			color: #003987;
			text-transform: uppercase;
			margin-bottom: 20px;
			display: block;
		}
	}
}
 
.full-imgs {
	width: 100%;
	float: left;
	margin: 50px 0;
	
	.fImg {
		width: 25%;
		float: left;
		position: relative;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		
		&:before {
			content: '';
			display: block;
			padding-top: 75%;
		}
		
		.abs {
			position: absolute;
			top: 10px;
			left: 0;
			right: 0;
			width: 100%;
			
			.letter {
				display: block;
				text-align: center;
				color: #fff;
				font-size: 60px;
				font-weight: 700;
				margin-bottom: 10px;
			}
			
			strong {
				display: block;
				text-align: center;
				color: #fff;
				text-transform: uppercase;
				font-size: 18px;
			}
			
			p {
				color: #fff;
				color: rgba(255,255,255,0.9);
				text-align: center;
				font-size: 18px;
				max-width: 340px;
				margin: 10px auto;
				padding: 0 25px;
				.box_sizing();
			}
		}
	}
}

@media (min-width: 1350px) {
	.fImg .abs {
		top: 30px !important;
	}
}

@media (min-width: 1600px) {
	.fImg .abs {
		top: 50px !important;
	}
}

@media (min-width: 1800px) {
	.fImg .abs {
		top: 90px !important;
	} 
}

input {
	outline: none !important;
}

.align-left { text-align: left !important; }
.bold { font-family: 'barlow_condensedsemibold'; }
.mt25 { margin-top: 25px !important; }
.mt50 { margin-top: 50px !important; }
.big { font-size: 50px !important; }
.fs40 { font-size: 40px !important; }
.lowercase { text-transform: lowercase !important; }
.black { color: #000 !important; }
.uppercase { text-transform: uppercase; }
.txt-center { text-align: center; }
.bgPosBottom { background-position: center bottom; }
.bgPosTop { background-position: center top; }

.article_text {  
	width: 100%;
	float: left;
	
	h2 {
		margin-bottom: 10px;
	}
	
	p {
		margin-bottom: 15px;
		line-height: 1.4;
	}
	
	ul, ol {
		margin-top: 20px;
		
		li {
			list-style-position: inside;
			font-size: 18px;
			color: rgba(0, 0, 0, 0.6);
			margin-bottom: 10px;
		}
	}
	
	a {
		color: #295c9c;
	}
	
	h1 {
		margin-bottom: 20px;
		font-size: 40px;
	}
}

.smaller-wrapper {
	width: 100%;
	max-width: 775px;
	margin: 0 auto;
	
	p {
		label {
			margin-bottom: 15px;
			width: 120px;
			font-weight: bold;
			display: inline-block;
		}
	}
	
	form {
		max-width: 580px;
		margin: 40px auto;
		
		.input {
			width: 280px;
			margin: 0 !important;
			margin-bottom: 20px !important;
			.box_sizing();
		}
		
		#ContactFormText0Value {
			width: 100%;
		}
		
		#ContactFormText1Value {
			float: right;
		}
	}
}

.tarifs {
	width: 100%;
	float: left;
} 

.tarifBox {
	width: 49%;
	height: 675px;
	float: left;
	padding: 20px 25px;
	position: relative;
	.box_sizing();
	.box-shadow(0 10px 10px rgba(102,126,149,0.25));
	
	.abs { 
		position: absolute;
		bottom: 170px;
		font-size: 15px;
		width: 100%;
		text-align: center;
		max-width: 479px;
		
		a { color: inherit; }
	}
	
	.title {
		color: #003e89;
		font-size: 25px;
		font-family: 'barlow_condensedsemibold';
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 50px;
		position: relative;
		
		span {
			position: absolute;
			top: -20px;
			font-size: 15px;
			font-family: 'barlow_condensedregular';
		}
	}
	
	.row {
		width: 100%;
		height: 50px;
		border-top: 1px solid #d9d9d9;
		float: left;
		font-size: 18px;
		font-family: 'barlow_condensedsemibold';
		line-height: 50px;
		
		img {
			position: relative;
			top: 5px;
		}
		
		&:last-child { border-bottom: 1px solid #d9d9d9; }
		
		label {
			color: #666666;
			font-size: 15px;
			width: 215px;
			display: inline-block;
			line-height: 50px;
			font-family: 'barlow_condensedregular';
		}
	}
	
	.button { 
		background: #003e89; 
		color: #fff;
	}
	
	&:nth-child(2) { float: right; }
	
	&.red {	
		.title, .title span, .price, .colour { color: #bc0006; }
		.button { background: #bc0006; }
	}
}

.color-red { color: #bc0006 !important; }

.tarifs.box-3, .tarifs.box-1 {
	text-align: center;
	
	.tarifBox {
		width: 30%;
		height: 460px;
		text-align: left;
		float: none !important;
		display: inline-block !important;
		margin: 0 15px;
		margin-bottom: 30px;
		
		.price {
			padding-top: 20px;
			margin-top: 0;
			margin-bottom: 20px;
			border-top: 1px solid #d9d9d9;
		}
		
		.back {
			width: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background: #fff;
			padding: 20px;
			height: 100%;
			opacity: 1;
			pointer-events: all;
			.transition(0.3s);
			.box_sizing();
			
			&.hide {
				opacity: 0;
				pointer-events: none;
			}
			
			.close {
				width: 28px;
				height: 28px;
				background: url('/css/layout/close.png');
				position: absolute;
				right: 10px;
				top: 0px;
				cursor: pointer;
			}
			
			ul {
				margin-top: 15px;
				margin-bottom: 15px;
				list-style: inside;
				
				li {
					font-size: 15px;
					color: #969696;
					margin: 10px 0;
				}
			}
		}
		
		label {
			width: 120px;
		}
		
		.row {
			a, strong, img { 
				float: right;
			}
			
			img { top: 13px !important; }
		}
		
		.title {
			margin-bottom: 10px;
		}
		
		.link {
			width: 100%;
			text-align: center;
			display: block;
			margin-top: 10px;
			color: rgba(0,0,0,0.6);
		}
	}
}

.tarifs.hauto {
	text-align: justify;
	
	.tarifBox {
		height: auto;
		float: none;
		margin-bottom: 35px;
		display: inline-block;
		vertical-align: top;
		
		img {
			max-width: 100%;
			height: auto;
			max-height: 270px;
			display: block;
			margin: 0 auto;
			margin-bottom: 20px;
		}
	}
}

.left { float: left !important; }
.right { float: right !important; }

.tarifs.box-1 {
	.tarifBox {
		width: 100%;
		margin: 0;
		height: 520px;
		
		label {
			width: 200px;
		}
	}
}

.price {
	color: #003e89;
	font-size: 60px;
	font-family: 'barlow_condensedbold';
	text-align: center;
	margin-top: 50px;
	position: relative;
	width: 100%;
	float: left;
	
	span {
		color: #000;
		font-size: 18px;
		font-family: 'barlow_condensedsemibold';
		text-transform: uppercase;
		position: relative;
		top: -10px;
		left: 6px;
	}
	
	&.spanTop span { 
		position: static;
		display: block;
	}
}

.h640 { 
	/*height: 640px; */
	
	.price {
		margin-top: 0;
		position: absolute;
		left: 0;
		bottom: 20px;
	}
}

ul.bullets { 
	list-style: none; 
	
	li {
		position: relative;
		padding-left: 15px;
		line-height: 1.3;
		font-size: 18px;
		color: rgba(0, 0, 0, 0.6);
		
		&:before {
			content: '';
			width: 6px;
			height: 6px;
			background: #003e89;
			position: absolute;
			top: 8px;
			left: 0;
			.radius(100%);
		}
	}
}

.no-relative { position: static !important; }

.buttons {
	width: 520px;
	margin: 30px auto;
	text-align: center;
	
	a.button { 
		display: inline-block;
		margin: 0 10px;
		
		&.blue {
			background: #003e89;
			color: #fff; 
		}
	}
}

.blok {
	width: 96%;
	height: 400px;
	margin: 2% auto;
	background-repeat: no-repeat;
	background-position: center center;
	
	&.h570 { height: 570px; }
	&.small { height: 177px; }
	
	h2 {
		font-size: 25px;
		font-family: 'barlow_condensedsemibold';
		color: #fff;
		margin-top: 135px;
		text-align: center;
		text-transform: uppercase;
		font-weight: normal;
		width: 100%;
		float: left;
		margin-bottom: 30px;
	}
	
	p {
		width: 100%;
		max-width: 700px;
		margin: 30px auto;
		text-align: center;
		color: rgba(255,255,255,0.9);
	}
	
	&.more-text {

		h2 {
			margin-top: 60px;
		}
	}
	
	a {
		color: inherit;
	}
	
	.wrap {
		width: 100%;
		max-width: 680px;
		margin: 0 auto;
		text-align: left;
	}
	
	ol, ul {
		font-size: 18px;
		color: rgba(255,255,255,0.9) !important;
		line-height: 1.3;
		list-style: inside decimal;
		
		li {
			color: inherit !important;
			margin-bottom: 0 !important;
		}
	}
	
	ul {
		list-style: inside disc;
	}
	
	.wideBox {
		width: 45%;
		height: 175px; 
		float: left;
		padding-top: 35px;
		border-top: 1px solid rgba(255,255,255,0.3);
		.box_sizing();
		
		.title {
			font-size: 25px;
			color: #fff;
			font-family: 'barlow_condensedsemibold';
			text-transform: uppercase;
		}
		
		.row {
			width: 100%;
			float: left;
			height: 50px;
			line-height: 50px;
			font-size: 18px;
			color: rgba(255,255,255,1);
			font-family: 'barlow_condensedsemibold';
			
			label {
				width: 250px;
				display: inline-block;
				font-size: 18px;
				color: rgba(255,255,255,0.9);
				font-family: 'barlow_condensedregular';
			}
		}
	}
}

.right { float: right !important; }
.awesome { font-family: 'awesome'; }

.drobeckova {
	width: 100%;
	height: 45px;
	background: rgba(0,0,0,0.3);
	position: absolute;
	overflow: hidden;
	top: 80px;
	left: 0; 
	line-height: 45px;
	color: #fff;
	padding-left: 25px;
	font-weight: 100;
	opacity: 1;
	.box_sizing();
	
	&.hide {
		opacity: 0;
	}
	
	&.no-bg { background: none; }
	
	.awesome {
		margin: 0 10px;
	}
	
	a {
		text-decoration: none;
		color: #fff;
	}
}

.faq {
	width: 100%;
	float: left;
	
	.w100p {
		list-style: none;
	}
	
	.mainTitle {
		font-size: 25px;
		color: #003e89;
		font-family: 'barlow_condensedsemibold';
		text-transform: uppercase;
	}
	
	.fRow, .fRowSub {
		width: 100%;
		border-top: 1px solid #d9d9d9;
		padding-top: 25px;
		padding-bottom: 25px;
		overflow: hidden;
		max-height: 80px;
		.box_sizing();
		.transition(0.2s);
		
		&.bottomLine {
			border-bottom: 1px solid #d9d9d9;
		}
		
		.fRowTitle {
			font-size: 18px;
			font-family: 'barlow_condensedsemibold';
			text-transform: uppercase;
			cursor: pointer;
			position: relative;
			padding-right: 80px;
			width: 100%;
			.transition(0.3s);
			.box_sizing();
			
			.circle {
				margin-top: 0;
				position: absolute;
				right: 10px;
				top: -13px;
				/*top: 0;
				bottom: 0;
				margin: auto;*/
			}
			
			&:hover { color: #003e89; }
		}
		
		p, ul, ol, .hide {
			width: 90%;
			opacity: 0;
			pointer-events: none;
			margin-top: 15px;
			.transition(0.3s);
		}
		
		.fRow.active .fRow p {
			opacity: 0 !important;
			pointer-events: none !important;
		}
		
		&.active {
			max-height: 3500px;
			
			.fRowTitle { color: #003e89 }
			
			p, ul, ol, .hide { 
				opacity: 1;
				pointer-events: all;
			}
			
			.fRow.active .fRow.active p {
				opacity: 1 !important;
				pointer-events: all !important;
			}
		}
	}
	
	.w100p {
		.fRow {
			border-top: 0;
			padding-top: 15px;
			padding-bottom: 15px;
			max-height: 43px;
			
			p {
				opacity: 0 !important;
				pointer-events: none !important;
			}
			
			&.active {
				max-height: 500px;
				
				p {
					opacity: 1 !important;
					pointer-events: all !important;
				}
			}
			
			.button.circle {
				width: 30px;
				height: 30px;
				padding-top: 7px;
				font-size: 18px;
				display: none;
				.box-shadow(0 2px 2px rgba(102,126,149,0.25));
				
			}
		}
	}
}

.blue { color: #003e89; }

body.other-pages {
	
}

footer {
	background: #4d4d4d;
	
	li.main { color: #fff !important; }
	li a, .copyright { color: rgba(255,255,255,0.6) !important; }
}

.sluzba-buttons {
	width: 100%;
	float: left;
	text-align: center;
	font-size: 0;
	
	li {
		display: inline-block;
		list-style: none;
		border-right: 3px solid #fff;
		
		a.button {
			background: #003e89;
			color: #fff;
			padding-top: 19px !important;
			.box_sizing();
		}
		
		a.button.active, a.button:hover {
			color: #003e89;
			background: #fff;
			.box-shadow(0 -10px 10px rgba(102,126,149,0.25));
		}
	}
	
	&.years {
		white-space: nowrap;
		margin-top: 50px;
		
		li {
			width: 170px;
			
			a { 
				width: inherit;
			}
		}
	}
}

.sluzba-section {
	width: 100%;
	min-height: 200px;
	float: left;
	margin-bottom: 50px;
	padding-top: 25px;
	position: relative;
	z-index: 10;
}

.none { display: none; }

.mobileTarifs {
	width: 100%;
	float: left;
	text-align: center;
	margin-bottom: 30px;
	
	.mobileT {
		width: 200px;
		height: 700px;
		display: inline-block;
		padding: 20px 20px;
		margin: 0 8px;
		position: relative;
		.box_sizing();
		.box-shadow(0 10px 10px rgba(102,126,149,0.25));
		
		.title {
			color: #003e89;
			font-size: 25px;
			font-family: 'barlow_condensedsemibold';
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 10px;
			position: relative;
			width: 100%;
			float: left;
			
			span {
				position: absolute;
				top: -20px;
				font-size: 15px;
				font-family: 'barlow_condensedregular';
			}
		}
		
		.button {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			background: #003e89;
			color: #fff; 
		}
		
		.row {
			width: 100%;
			height: 50px; 
			border-top: 1px solid #d9d9d9;
			float: left;
			font-size: 18px;
			font-family: 'barlow_condensedsemibold';
			line-height: 50px;
			text-align: left;
			position: relative;
			
			img {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				margin: auto;
			}
			
			&.bottomLine { border-bottom: 1px solid #d9d9d9; }
			
			label {
				color: #666666;
				font-size: 15px;
				width: 100px;
				display: inline-block;
				line-height: 1.2;
				text-align: left;
				margin-top: 8px;
				font-family: 'barlow_condensedregular';
			} 
			
			strong {
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
				right: 0;
			}
		}
	}
}

strong.bigger { font-size: 25px; }

.borderTopBoxes {
	width: 100%;
	float: left;
	text-align: center; 
	margin: 25px 0;
	vertical-align: top;
	
	.borderTopBox {
		width: 140px;
		height: 105px;
		padding: 0 5px;
		display: inline-block;
		padding-top: 10px;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		color: rgba(255, 255, 255, 0.6);
		text-align: center;
		font-size: 18px;
		vertical-align: top;
		margin: 0 10px;
		.box_sizing();
		
		strong {
			display: block;
			width: 100%;
			text-align: center;
			color: #fff;
			margin: 7px 0 0;
			font-size: 25px;
		}
		
		small {
			font-size: 15px;
			color: inherit;
		}
	}
}

.load_google_map, #load_google_map2 {
	width: 100%;
	padding: 20px;
	padding-top: 0;
	margin-bottom: 25px;
	background: #fff;
	.box_sizing();
	.box-shadow(0 10px 10px rgba(102,126,149,0.25));
}

#map_canvas, #map_canvas2, #map_canvas3 {
	width: 100%;
	height: 600px;	
}

.wholeBox {
	width: 100%; 
	height: 805px;
	float: left;
	margin-bottom: 25px;
	padding: 20px;
	padding-bottom: 0;
	background: #fff;
	position: relative;
	.box_sizing();
	.box-shadow(0 10px 10px rgba(102,126,149,0.25));
	 
	table {
		width: 100%;
		border-collapse: collapse;
		margin-top: 25px;
		
		td {
			height: 50px;
			border-top: 1px solid #d9d9d9;
			vertical-align: middle;
			font-size: 15px;
			color: rgba(0, 0, 0, 0.6);
			
			strong {
				color: #000;
				font-size: 18px;
			}
		}
		
		tr td:nth-child(1) { width: 420px; }
		tr td:nth-child(2), tr td:nth-child(4) { width: 150px; text-align: center; }
		tr td:nth-child(3) { width: 70px; text-align: center; }
	}
	
	.price {
		position: absolute;
		pointer-events: none;
	}
}

.abs-bottom {
	position: absolute;
	left: 0;
	right: 0;  
	margin: auto;
	bottom: 0;
}

.sl30 {
	width: 35%;
	float: left;
}

.timeline {
	width: 100%; 
	height: 100%;
	min-height: 200px;
	position: relative;
	float: left;
	margin-top: 50px;
	
	&:before {
		content: '';
		width: 1px;
		height: 100%;
		height: calc(~"100% - 50px");
		background: #e5e5e5;
		position: absolute;
		left: 0; 
		right: 0;
		top: 0;
		margin: auto;	
	}
	
	.half {
		width: 50%;
		float: left;
		position: relative;
		text-align: right;
		padding: 0 40px;
		.box_sizing();
		
		.time {
			width: 100%;
			margin-bottom: 90px;
		}
		
		.year {
			font-size: 40px;
			color: #003987;
			font-weight: bold;
			position: relative;
			cursor: pointer;
			margin-bottom: 10px;
			.transition(0.3s);
			
			&:after {
				content: '';
				width: 11px; 
				height: 11px;
				background: #b90000;
				position: absolute;
				top: 14px;
				right: -46px;
				.radius(100%);
			}
		}
		
		.time:hover {
			.year { color: #be000a; }
		}
		
		&:nth-child(2) {
			padding-top: 80px;
			text-align: left;
			
			.year:after { 
				right: auto;
				left: -45px;
			}
		}
	}
}

.mb0 { margin-bottom: 0 !important; }
.mb25 { margin-bottom: 25px !important; }

.wide { 
	width: 800px; 
	margin-top: 50px;
}

article {
	width: 100%;
	float: left;
	border-bottom: 1px solid #d9d9d9;
	padding-top: 50px;
	overflow: hidden;
	max-height: 130px;
	.transition(0.3s);
	
	h2 a {
		text-decoration: none;
		color: #003987;
		text-transform: uppercase;
		.transition(0.3s);
	}
	
	h2 {
		margin-bottom: 15px;
	}
	
	.created {
		width: 100px;
		height: 100%;
		float: left;
		text-align: center;
		.transition(0.3s);
		
		strong {
			display: block;
			font-size: 40px;
			color: #003987;
			font-weight: bold;
			.transition(0.3s);
		}
		
		small {
			display: block;
			font-size: 15px;
			font-weight: bold;
			color: rgba(0,0,0,0.5);
		}
	}
	
	.actual-text {
		width: 950px;
		width: calc(~"100% - 150px");
		float: left;
		position: relative;
		
		a {
			color: #003987;
		}
		
		table {
			margin: 25px 0;
			border-spacing: 0;
			
			th {
				background-color: #969696;
				border-left: solid 1px #aaa;
				border-bottom: solid 1px #aaa;
				font-weight: 500;
				color: white;
				
				strong {
					color: #fff !important;
				} 
			}
			
			td, th {
				padding: 10px;
				margin: 0px;
				font-size: 18px;
				color: rgba(0, 0, 0, 0.6);
				
				strong {
					color: inherit;
					font-size: inherit;
				}
				
				p {
					width: auto !important;
				}
			}
			
			caption {
				padding-bottom: 5px;
				font-size: 1.2em;
				font-weight: bold;
				text-align: center;
			}
			
			td {
				background-color: #ececec;
				border-left: solid 1px #f6f6f6;
				border-bottom: solid 1px #f6f6f6;  
			}
		}
	}
	
	.button.circle {
		position: absolute;
		right: 0;
		top: 0;
		margin-top: 0;
	}
	
	p {
		width: 800px;
		width: calc(~"100% - 250px");
	}
	
	&.active {
		max-height: 5000px;
		.transition(0.3s);
		
		h2 a, .button.circle, .created strong {
			color: #be000a !important;
		}
	}
}

.smallest-wrapper {
	.input, textarea {
		margin: 0 auto 10px;
		display: block;
		float: left;
		width: 49.1%;
	}
	
	#ContactFormText1Value {
		float: right !important;
	}
	
	textarea {
		width: 100%;
	}
}

#items {
	table {
		margin: 25px 0; 
		border-spacing: 0;
		
		th {
			background-color: #969696;
			border-left: solid 1px #aaa;
			border-bottom: solid 1px #aaa;
			font-weight: 500;
			color: white;
			
			strong {
				color: #fff !important;
			}
		}
		
		td, th {
			padding: 10px;
			margin: 0px;
			font-size: 18px;
			color: rgba(0, 0, 0, 0.6);
			
			strong {
				color: inherit;
				font-size: inherit;
			}
			
			p {
				width: auto !important;
			}
		}
		
		caption {
			padding-bottom: 5px;
			font-size: 1.2em;
			font-weight: bold;
			text-align: center;
		}
		
		td {
			background-color: #ececec;
			border-left: solid 1px #f6f6f6;
			border-bottom: solid 1px #f6f6f6;
		}
	} 
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.button { line-height: 62px; }
	.button.circle { line-height: 2; }
	.mainImg .blackRow ul li a.button { line-height: 64px; }
	
	input.button {
		padding-top: 8px !important;
	}
}

#login-section {
	position: absolute; 
	right: 25px;
	bottom: 0;
	
	input {
		display: inline-block !important;
		margin-bottom: 40px;
	}
	
	a {
		color: #be000a;
		font-size: 13px;
		position: absolute;
		bottom: 15px;
		right: 351px;
	}
}  

.input, textarea, select.text {
	width: 230px;
	height: 55px;
	line-height: 55px;
	border: 1px solid #d9d9d9;
	font-size: 18px;
	color: #000;
	padding: 0 20px;
	margin-right: 12px;
	background: rgb(234,234,234);
	background: -moz-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(255,255,255,1) 43%);
	background: -webkit-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(255,255,255,1) 43%);
	background: linear-gradient(to bottom, rgba(234,234,234,1) 0%,rgba(255,255,255,1) 43%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff',GradientType=0 );
	.box_sizing();
	
	&.long {
		width: 100% !important;
	}
}

select.text {
	width: 280px;
	background: rgb(234,234,234);
	background: url('/css/layout/icons/arrow.png'), -moz-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(255,255,255,1) 43%);
	background: url('/css/layout/icons/arrow.png'), -webkit-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(255,255,255,1) 43%);
	background: url('/css/layout/icons/arrow.png'), linear-gradient(to bottom, rgba(234,234,234,1) 0%,rgba(255,255,255,1) 43%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff',GradientType=0 );
	background-position: right center;
	background-repeat: no-repeat;
	margin-right: 0;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
}

textarea {
	height: 200px !important;
	resize: none;
	line-height: 1.5;
	padding-top: 10px;
	.box_sizing();
}

.contacts {
	.input {
		margin-right: 0;
	}
}

.findServices {
	opacity: 1;
	pointer-events: all;
	.transition(0.5s);
	
	input {
		display: inline-block !important;
		margin-bottom: 40px;
		margin-right: 5px !important;
		position: relative;
		top: -40px;
	}
	
	&.hidden {
		opacity: 0;
		pointer-events: none;
	}
}

.w100 { width: 100px; }
.w100p { width: 100% !important; }

.bankovni-spojeni {
	width: 100%;
	height: 125px;
	float: left;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	list-style: none;
	text-align: center;
	margin-top: 30px;
	
	li {
		display: inline-block;
		margin: 0 45px;
		color: #8d8d8d;
		font-size: 18px;
		padding-top: 40px;
		.box_sizing();
		
		strong {
			color: #003987;
			display: block;
			margin-bottom: 7px;
			font-size: 18px;
		}
	}
}

.obchodnici-table {
	width: 100%;
	float: left;
	margin: 25px 0 20px;
	border-top: 1px solid #d9d9d9;
	border-collapse: collapse;
	
	tr {
		td {
			border-bottom: 1px solid #d9d9d9;
			padding: 10px 0;
			font-size: 18px;
			color: rgba(0,0,0,0.5);	
			
			strong {
				color: #000;
			}
			
			.blue {
				color: #003e89 !important;
			}
		}
		
		.txt-right { text-align: right; }
	}
	
	img {
		width: 65px;
		height: 65px;
		.radius(100%);
	}
}

.gm-style .gm-style-iw h3 {
	font-size: 21px;
	margin-bottom: 10px;
}

.gm-style-iw {
	label {
		display: inline-block;
		width: 150px;
		font-weight: bold;
	}
}

.white-places {
	width: 100%;
	height: 280px;
	background: #fff;
	float: left;
	position: relative;
	z-index: 999999;
	
	.button {
		display: inline-block !important; 
	}
	
	form {
		text-align: center;
	}
	
	.title {
		text-align: center;
		font-size: 60px;
	}
}

.h270 {
	height: 270px;
	background-attachment: scroll;
	
	.middleText {
		margin-top: 105px;
	}
}

hr {
	margin-bottom: 20px;
	background: #d9d9d9;
	border: 0;
	height: 1px;
}

.agree {
	input[type="checkbox"]:not(:checked),
	input[type="checkbox"]:checked {
	  position: absolute;
	  left: -9999px;
	}
	input[type="checkbox"]:not(:checked) + label,
	input[type="checkbox"]:checked + label {
	  position: relative;
	  padding-left: 1.95em;
	  cursor: pointer;
	  float: right;
	  color: rgba(0,0,0,0.6);
	}
	
	/* checkbox aspect */
	input[type="checkbox"]:not(:checked) + label:before,
	input[type="checkbox"]:checked + label:before {
	  content: '';
	  position: absolute;
	  left: 0; top: 0;
	  width: 1.25em; height: 1.25em;
	  border: 1px solid #C6C6C6;
	  background: #fff;
	}
	/* checked mark aspect */
	input[type="checkbox"]:not(:checked) + label:after,
	input[type="checkbox"]:checked + label:after {
	  content: '\f00c';
	  font-family: 'awesome';
	  position: absolute; 
	  top: 6px; left: 5px;
	  font-size: 12px;
	  line-height: 0.8;
	  color: #003e89;
	  transition: all .2s;
	}
	/* checked mark aspect changes */
	input[type="checkbox"]:not(:checked) + label:after {
	  opacity: 0;
	  transform: scale(0);
	}
	input[type="checkbox"]:checked + label:after {
	  opacity: 1;
	  transform: scale(1);
	}
	/* disabled checkbox */
	input[type="checkbox"]:disabled:not(:checked) + label:before,
	input[type="checkbox"]:disabled:checked + label:before {
	  box-shadow: none;
	  border-color: #bbb;
	  background-color: #ddd;
	}
	input[type="checkbox"]:disabled:checked + label:after {
	  color: #999;
	}
	input[type="checkbox"]:disabled + label {
	  color: #aaa;
	}
	
	&.labels {
		input[type="checkbox"]:not(:checked) + label, input[type="checkbox"]:checked + label {
			float: left;
			margin-bottom: 10px;
			line-height: 1.3;
		}
	}
}

.searchPoda {
	opacity: 1;
	pointer-events: all;
	.transition(0.3s);
}

.searchPoda.hide {
	opacity: 0;
	pointer-events: none;
	.transition(0.3s);
}

.inline-button {
	.button {
		display: inline-block !important;
	}
}

.shadow-line {
	width: 100%;
	height: 10px;
	background: #fff;
	float: left;
	margin: 20px 0;
	-webkit-box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
	-ms-box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
	box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
}

.dblock { display: block !important; }
 
.load_contact_form.preloader {
	width: 100%;
	height: 200px;
	background: url('/css/layout/icons/bars.svg') no-repeat center center;
}

.table {
	margin: 25px 0;
	border-spacing: 0;
	border: 1px solid #aaa;
	
	th {
		background-color: #979797;
		border-left: solid 1px #aaa;
		border-bottom: solid 1px #aaa;
		font-weight: 500;
		color: white;
		
		strong {
			color: #fff !important;
		} 
	}
	
	td, th {
		padding: 10px;
		margin: 0px;
		font-size: 18px;
		color: rgba(0, 0, 0, 0.6);
		border-bottom: 1px solid #aaa;
		
		strong {
			color: inherit;
			font-size: inherit;
		}
		
		p {
			width: auto !important;
		}
	}
	
	caption {
		padding-bottom: 5px;
		font-size: 1.2em;
		font-weight: bold;
		text-align: center;
	}
	
	td {
		background-color: #ececec;
		border-left: solid 1px #f6f6f6;
		border-bottom: solid 1px #f6f6f6;  
	}
}

.boxes {
	width: 100%;
	float: left;
	margin-top: 50px;
	text-align: center;
	
	.pBox {
		width: 250px;
		height: 210px;
		background: #fff;
		display: inline-block;
		margin: 10px;
		color: #003e8a;
		font-size: 18px;
		line-height: 1.3;
		padding-top: 120px;
		text-transform: uppercase;
		font-weight: bold;
		cursor: pointer;
		text-decoration: none;
		.box-shadow(0 10px 10px rgba(102,126,149,0.25));
		.transition(0.3s);
		.box_sizing();
		
		&:nth-child(1) { background: #fff url('/css/layout/icons/navody-icon.png') no-repeat center 30px; }
		&:nth-child(2) { background: #fff url('/css/layout/icons/faq-icon.png') no-repeat center 30px; }
		&:nth-child(3) { background: #fff url('/css/layout/icons/pripojeni-icon.png') no-repeat center 30px; }
		&:nth-child(4) { background: #fff url('/css/layout/icons/platby-icon.png') no-repeat center 30px; }
		&:nth-child(5) { background: #fff url('/css/layout/icons/klient-icon.png') no-repeat center 30px; }
		&:nth-child(6) { background: #fff url('/css/layout/icons/servis-icon.png') no-repeat center 30px; }
		&:nth-child(7) { background: #fff url('/css/layout/icons/podminky-icon.png') no-repeat center 30px; }
		&:nth-child(8) { background: #fff url('/css/layout/icons/vernostni-icon.png') no-repeat center 30px; }
		
		&:hover {
			.box-shadow(0px 0px 10px rgba(102,126,149,0.45));
		}
	}
	
	&.faq-icons {
		.pBox {
			&:nth-child(1) { background: #fff url('/css/layout/icons/internet-blue.png') no-repeat center 50px; }
			&:nth-child(2) { background: #fff url('/css/layout/icons/tv-blue.png') no-repeat center 50px; }
			&:nth-child(3) { background: #fff url('/css/layout/icons/blue-mobile-icon.png') no-repeat center 50px; }
			&:nth-child(4) { background: #fff url('/css/layout/icons/dotazy-icon.png') no-repeat center 50px; }
		}
	}
	
	&.platba-icons {
		vertical-align: top;
		
		.pBox {
			vertical-align: top;
			
			&:nth-child(1) { background: #fff url('/css/layout/icons/internet-blue.png') no-repeat center 50px; }
			&:nth-child(2) { background: #fff url('/css/layout/icons/podminky-icon.png') no-repeat center 50px; }
			&:nth-child(3) { background: #fff url('/css/layout/icons/servis-icon.png') no-repeat center 50px; }
			&:nth-child(4) { background: #fff url('/css/layout/icons/platby-icon.png') no-repeat center 50px; }
		}
	}
}

.max775 { max-width: 775px !important; }

.googleChart {
	background: #fff;
	height: 450px;
	margin-top: 30px;
	.box-shadow(0 10px 10px rgba(102,126,149,0.25));
	.box_sizing();
}

#arrow_bottom_sipka {
	background: none !important; 
	font-family: 'awesome';
	font-size: 66px;
	color: #fff;
	width: 200px;
	height: 70px;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	cursor: pointer;
	z-index: 9999;
	text-shadow: 0px 0px 12px rgba(0,0,0,0.25);
	bottom: 60px;
	-webkit-animation: sipka 2s infinite; /* Safari 4+ */
	-moz-animation:    sipka 2s infinite; /* Fx 5+ */
	-o-animation:      sipka 2s infinite; /* Opera 12+ */
	animation:         sipka 2s infinite;
}

@keyframes sipka {
  0%   { opacity: 0; bottom: 60px; }
  10% { opacity: 1; }
  90% { opacity: 0; }
  100% { opacity: 0; bottom: 0; }
}

@-moz-keyframes sipka {
  0%   { opacity: 0; bottom: 60px; }
  10% { opacity: 1; }
  90% { opacity: 0; }
  100% { opacity: 0; bottom: 0; }
}

@-webkit-keyframes sipka {
  0%   { opacity: 0; bottom: 60px; }
  10% { opacity: 1; }
  90% { opacity: 0; }
  100% { opacity: 0; bottom: 0; }
}

@-ms-keyframes sipka {
  0%   { opacity: 0; bottom: 60px; }
  10% { opacity: 1; }
  90% { opacity: 0; }
  100% { opacity: 0; bottom: 0; }
}

.fstBox {
	width: 100% !important;
	left: 0 !important;
	top: auto !important;
	bottom: 0;
	padding: 20px 10px !important;
	background-color: #09910a !important;
	border-color: #09910a !important;
	color: #fff;
	text-align: center;
	.box_sizing();
	
	div {
		display: inline-block;
		float: none !important;
		font-size: 26px !important;
		color: #fff;
	}
	
	.fstBox_ico:before {
		content: '\f00c' !important;
	}
}

#klz { margin-top: 120px; }
.pb25 { padding-bottom: 25px; }

#searchModal {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	width: calc(~"100% - 60px");
	height: 80px;
	background: #fff;
	
	.button {
		margin-top: 10px !important;
	}
	
	form {
		width: 90%;
		max-width: 520px;
		float: right;
	}
	
	.button {
		float: right;
		margin-right: 10px;
		width: 100px;
	}
	
	#SearchInput {
		float: right;
		width: 60%;
		max-width: 330px;
		height: 55px;
		line-height: 55px;
		margin-right: 20px !important;
		font-size: 18px;
		margin-top: 12px;
		padding-left: 15px;
		outline: none;
		.box_sizing();
	}
}































