/**
.fst_checkbox();  // class for own checkbox
.fst_radio();  // class for own radio
.radius(5px);  // class for radius

.overflow  // overflow hidden
.clear // clear both
.no-padding // nopadding
.none // display none
.relative // position relative
.invalid // form input is invalid
.lazy // lazy load image
.noselect() // noselect element
.appearance() // disable appearance
.text-shadow (@h-shadow, @v-shadow, @blur-radius, @color) {
.box-shadow (@string) 
.opacity(@value)
.input_shadow(@color)
.scale(@val)
.transition(@time) {transition: all @time ease-in-out;}
.transition2(@type, @time) {transition: @type @time ease-in-out;}
.clearfix() // clear fix
.flipcard // flip card 
.text_right // text align right 
*/
/* BARVY */
//@import "fonts/awesome.css";
@main: #76cbb8;



/* CSS MIXINY */
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.appearance(){
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	&::-ms-expand {
		display: none;
	}
	
}

.fst_select() {
	background-image:url('/css/layout/select.svg');
	background-repeat:no-repeat;
	background-position:right center;
	background-size:15px;
	padding-right:20px;	
	.appearance();
}
select.form-control {
	
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	background-image:url('/css/layout/select.svg');
	background-repeat:no-repeat;
	background-position:right center;
	background-size:15px;
	padding-right:20px;
}


.scale(@val) {
	-ms-transform: scale(@val);
    -webkit-transform: scale(@val);
    -moz-transform: scale(@val);
    -o-transform: scale(@val);
    transform: scale(@val);
}

.text-shadow (@h-shadow, @v-shadow, @blur-radius, @color) {
	text-shadow: @h-shadow @v-shadow @blur-radius @color;
}

.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}

.box_sizing() {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.opacity(@value){
	
	-webkit-opacity:@value;
	-moz-opacity:@value;
	opacity:@value*0.01;
	/*
	filter:alpha(opacity=@value);
*/
}

.transition(@time) {
	-webkit-transition: all @time ease-in-out;
	-moz-transition: all @time ease-in-out;
	-o-transition: all @time ease-in-out;
	-ms-transition: all @time ease-in-out;
	transition: all @time ease-in-out;
}
.transition_time(@time) {
	-webkit-transition: @time;
	-moz-transition: @time ;
	-o-transition: @time ;
	-ms-transition: @time ;
	transition: @time ;
}
.transition2(@type, @time) {
	-webkit-transition: @type @time ease-in-out;
	-moz-transition: @type @time ease-in-out;
	-o-transition: @type @time ease-in-out;
	-ms-transition: @type @time ease-in-out;
	transition: @type @time ease-in-out;
}

.clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

.placeholder(@color, @weight, @font, @size){
	::-webkit-input-placeholder { color: @color; font-weight:@weight; font-family: @font; font-size: @size;}
	/* Firefox 18- */
	:-moz-placeholder { color: @color; opacity:1; font-weight:@weight; font-family: @font; font-size: @size; }
	/* Firefox 19+ */
	::-moz-placeholder { color: @color; opacity:1; font-weight:@weight; font-family: @font; font-size: @size; }
	/* IE */
	:-ms-input-placeholder { color: @color; font-weight:@weight; font-family: @font; font-size: @size;}
}

.input_shadow(@color){
 box-shadow:0 0 1px @color inset, 0 0 1px @color inset, 0 0 0 @color inset, 0 0 0 @color inset, 0 0 2px rgba(239, 127, 1, 0.5);
 -moz-box-shadow: 0 0 1px @color inset, 0 0 1px @color inset, 0 0 0 @color inset, 0 0 0 @color inset, 0 0 2px rgba(239, 127, 1, 0.5);
 -webkit-box-shadow: 0 0 1px @color inset, 0 0 1px @color inset, 0 0 0 @color inset, 0 0 0 @color inset, 0 0 2px rgba(239, 127, 1, 0.5);
}

.rotate(@rad) {
    -ms-transform: rotate(@rad);
    -webkit-transform: rotate(@rad);
    -o-transform: rotate(@rad);
    -moz-transform: rotate(@rad);
    transform: rotate(@rad);
}

.radius(@radius) {
     -webkit-border-radius: @radius; -moz-border-radius: @radius; border-radius: @radius; -ms-border-radius: @radius; -o-border-radius: @radius;-webkit-background-clip: padding-box;   -moz-background-clip:    padding;   background-clip:         padding-box;
}

/*::selection {
	background: @main;
	color: #fff;
}

::-moz-selection {
	background: @main;
	color: #fff;
}*/

.font_size(@sizeValue) {
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * 10);
  font-size: ~"@{pxValue}px";
  font-size: ~"@{remValue}rem";
}
/* END CSS MIXINY */

/* FONTY */
@font-face {
    font-family: 'awesome';
    src: url('/css/fonts/awesome/fontawesome-webfont.eot');
    src: url('/css/fonts/awesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/awesome/fontawesome-webfont.woff') format('woff'),
         url('/css/fonts/awesome/fontawesome-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'barlow_condensedbold';
    src: url('/css/fonts/barlowcondensed-bold-webfont.woff2') format('woff2'),
         url('/css/fonts/barlowcondensed-bold-webfont.woff') format('woff'),
         url('/css/fonts/barlowcondensed-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'barlow_condensedextralight';
    src: url('/css/fonts/barlowcondensed-extralight-webfont.woff2') format('woff2'),
         url('/css/fonts/barlowcondensed-extralight-webfont.woff') format('woff'),
         url('/css/fonts/barlowcondensed-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'barlow_condensedlight';
    src: url('/css/fonts/barlowcondensed-light-webfont.woff2') format('woff2'),
         url('/css/fonts/barlowcondensed-light-webfont.woff') format('woff'),
         url('/css/fonts/barlowcondensed-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'barlow_condensedregular';
    src: url('/css/fonts/barlowcondensed-regular-webfont.woff2') format('woff2'),
         url('/css/fonts/barlowcondensed-regular-webfont.woff') format('woff'),
         url('/css/fonts/barlowcondensed-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'barlow_condensedsemibold';
    src: url('/css/fonts/barlowcondensed-semibold-webfont.woff2') format('woff2'),
         url('/css/fonts/barlowcondensed-semibold-webfont.woff') format('woff'),
         url('/css/fonts/barlowcondensed-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'barlow_semi_condensedXLt';
    src: url('/css/fonts/barlowsemicondensed-extralight-webfont.woff2') format('woff2'),
         url('/css/fonts/barlowsemicondensed-extralight-webfont.woff') format('woff'),
         url('/css/fonts/barlowcondensed-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'barlow_semi_condensedmedium';
    src: url('/css/fonts/barlowsemicondensed-medium-webfont.woff2') format('woff2'),
         url('/css/fonts/barlowsemicondensed-medium-webfont.woff') format('woff'),
         url('/css/fonts/barlowcondensed-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'barlow_semi_condensedsemibold';
    src: url('/css/fonts/barlowsemicondensed-semibold-webfont.woff2') format('woff2'),
         url('/css/fonts/barlowsemicondensed-semibold-webfont.woff') format('woff'),
         url('/css/fonts/barlowcondensed-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
