@import "global.less";

@media (max-width: 1100px) {
	#navmenu { display: none; }
	#logo {
		width: 130px;
		background-size: 260px;
		background-repeat: no-repeat;
		background-size: 130px;
		margin-top: 10px;
		margin-left: 15px;
	}
	
	input {
		-webkit-appearance: none !important;
		border-radius: 0;
	}
	
	a {
		color: #295c9c;
	}
	
	.tarifs.hauto {
		.tarifBox { padding-bottom: 0 !important; }
	}
	
	.programs {
		&.balicky{
			h3{
				text-align: center !important;
			}
		}

		ul {
			text-align: center;
			
			li {
				float: none !important;
				display: inline-block;
				margin-right: 0 !important;
				
				.about {
					display: none !important;
				}	
			}
		}
	}
	
	#sluzba-buttons {
		.button { width: 185px; margin-top: 3px; }
	}
	
	html {
		-webkit-text-size-adjust: 100%;
		-moz-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
		text-size-adjust: 100%;
	} 
	
	#load_google_map {
		#map_canvas { height: 400px !important; }
	}
	
	.drobeckova.no-bg { background: rgba(0,0,0,0.3); }
	
	.middleText {
		padding: 0 20px;
		margin-top: 120px !important;
		.box_sizing();
		
		h1 {
			font-size: 40px !important;
		}
	}
	
	iframe, #instructionVideo_frame {
		width: 100% !important;
		height: auto !important;
	}
	
	#instructionVideo_frame {
		height: 300px !important;
		
		.x {
			right: 15px !important;
		}
	}
	
	.smaller-wrapper {
		padding: 0 15px;
		.box_sizing();
	}
	
	.bottomText {
		height: auto;
		margin-top: 0 !important;
		
		.title {
			margin-top: 90px !important;
			font-size: 40px !important;
		}
	}
	
	.wholeBox {
		height: auto !important;
		
		.sl30 {
			width: 100%;
		}
		
		.price {
			position: static !important;
			margin-bottom: 70px;
			margin-top: 20px;
		}
	}
	
	.button.wider {
		width: 100%;
		max-width: 300px;
	}
	
	.faq .fRow p, .faq .fRow ul, .faq .fRow ol {
		width: 100%;
	}
	
	.tarifBox {
		width: 100% !important;
		max-width: 380px;
		height: auto;
		margin: 0 !important;
		margin-bottom: 35px !important;
		padding: 25px 10px;
		
		.abs {
			position: static;
			margin-top: 30px;
			float: left;
		}	
		
		label {
			width: 190px !important;
		}
		
		.row { overflow: hidden; }
		
		strong {
			font-size: 15px;
		}
	}
	
	.tarifs {
		.tarifBox {
			height: auto !important;
			padding-bottom: 150px;
			
			img {
				max-width: 100%;
			}
		}
	}
	
	.button.huge {
		width: 100%;
		max-width: 380px;
		height: auto;
		line-height: 1;
		padding: 15px 0;
	}
	
	.faq .fRow {
		max-height: 80px;
		
		&.active {
			max-height: 700px;
		}
	}
	
	.blok {
		height: auto !important;
		padding: 0 15px 15px;
		/*background: #787878 !important;*/
		.box_sizing();
		
		h2 {
			margin-top: 15px !important;
		}
		
		.wideBox {
			width: 100%;
			float: none !important;
			margin-bottom: 20px;
		}
	}
	
	.bankovni-spojeni {
		height: auto;
		padding-bottom: 20px;
		
		li {
			padding-top: 20px;
		}
	}
	
	.buttons {
		max-width: 100% !important;
		
		.button {
			margin-bottom: 20px !important;
		}
	}
	
	.full-imgs, .blackRow {
		display: none;
	}
	
	.mainImg {
		height: 400px;
		background-attachment: scroll;
	}
	
	.article_text {
		article {
			padding-top: 0 !important;
			margin-bottom: 20px;
			max-height: 200px;
			
			&.active {
				max-height: 66000px;
			}
			
			.created { display: none; }
			.actual-text, p {
				width: 100%;
			}
			
			.button { display: none; }
		}
	}
	
	#roky {
		display: none;
	}
	
	.big { font-size: 30px; }
	.title { font-size: 40px; }
	
	.kontakt-list {
		li {
			margin-left: 0;
			margin-right: 0;
			height: auto;
			padding-bottom: 25px;
		}
	}
	
	#faq {
		.button.circle { display: none; }
	}
	
	.smallest-wrapper {
		width: 92% !important;
	}
	
	.white-places {
		padding: 0 20px 20px;
		height: auto !important;
		.box_sizing();
		
		.title {
			margin-bottom: 10px;
		}
	}
	
	.big {
		font-size: 30px !important;
	}
	
	#findServices {
		padding-top: 25px;
		
		input {
			width: 100% !important;
			margin-bottom: 10px;
		}
	}
	
	.smaller-wrapper {
		form {
			.input {
				width: 100% !important;
			}
		}
	}
	
	#header { background: none; box-shadow: none; }
	#header_adpot { box-shadow: none; }
	
	.on-mobile { display: block; }
	
	.findServices {
		input {
			top: 0;
			margin-bottom: 5px !important;
			height: 35px !important;
			line-height: 35px;
		}
		
		.button {
			margin-top: 5px !important;
		}
	}
	
	#header .blur-box .line.active { height: 300px; }
	
	.article_text {
		article:first-child {
			margin-top: 50px;
		}
	}
	
	#mobile_menu {
        width: 75px;
        height: 35px;
        background: #295c9c;
        position: fixed;
        top: 10px;
        right: 15px;
        z-index: 99999999999;
        font-family: 'awesome';
        color: #fff;
        font-size: 17px;
        text-align: left;
        line-height: 35px;
        padding-left: 10px;
        .box_sizing();
        .transition(0.4s);
        
        &:after {
	        content: 'MENU';
	        color: #fff;
	        font-size: 18px;
	        margin-left: 8px;
	        font-family: 'barlow_condensedlight';
        }
        
        &.open { background: #be000a; }
    }

    #mobile_nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        white-space: nowrap;
        min-height: 100%;
        background: rgba(0, 62, 138, 0.95);
        padding-top: 50px;
        z-index: 999999999;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        .transition(0.4s);
        
        &.active {
	        -webkit-transform: translateX(0);
	        -moz-transform: translateX(0);
	        -ms-transform: translateX(0);
	        transform: translateX(0);
        }

        li {
            line-height: 40px;
            text-align: center;
            
            &:last-child { display: none; }

            ul { display: none !important; }

            a {
                color: #fff;
                font-size: 24px;
                text-decoration: none;
                padding-bottom: 5px;
                display: block;
            }
        }
    }
    
    .promo {
	    display: none;
    }
    
    .services-list {
	    li { margin-bottom: 30px; }
    }
    
    footer {
	    .wrapper {
		    text-align: center;
		    
		    ul {
			    float: none;
			    display: inline-block;
			    margin-bottom: 20px;
		    }
	    }
    }
}

@media (max-width: 930px) {
	.blur-box {
		
		.line { 
			strong {
				&:before, &:after {
					display: none;
				}
				
			}
		}
	}
}

@media (max-width: 500px) {
	.sll, .slr { width: 100%; margin-bottom: 25px; }
	
	.quick-icons {
		width: 100%;
		float: left;
		text-align: center;
		border-bottom: 1px solid #f0f0f0;
		
		.quick-box {
			width: 50%;
			height: 175px;
			position: relative;
			padding-top: 80px;
			float: left;
			.box_sizing();
			
			&:nth-child(1), &:nth-child(3) {
				border-right: 1px solid #f0f0f0;
			}
			
			&:nth-child(1), &:nth-child(2) {
				border-bottom: 1px solid #f0f0f0;
			}
			
			.icon {
				position: absolute;
				width: 100%;
				height: 40px;
				top: 30px;
				left: 0;
				
				&.i1 { background: url('/css/layout/icons/icon1.png') no-repeat center center; }
				&.i2 { background: url('/css/layout/icons/icon2.png') no-repeat center center; }
				&.i3 { background: url('/css/layout/icons/icon3.png') no-repeat center center; }
				&.i4 { background: url('/css/layout/icons/icon4.png') no-repeat center center; }
			}
			
			span {
				width: 100%;
				float: left;
				font-size: 13px;
				text-transform: uppercase;
				color: rgba(0,0,0,0.6);
				font-family: 'barlow_condensedsemibold';
				padding: 0 10px;
				.box_sizing();
				
				strong, a {
					display: block;
					font-size: 18px;
					font-family: 'barlow_condensedsemibold';
					color: #000;
					font-weight: normal;
					margin-top: 5px;
				}
			}
		}
	}
}

@media (min-width: 500px) {
	.quick-icons { display: none; }
}

@media (max-width: 800px) {
	#header_adopt.banner {
	    height: 300px !important;
	    background-attachment: scroll !important;
	    background-position: center top !important;
	    
	    .blur-box:before { height: 300px !important; bottom: 0 !important; }
	    .blur-box { margin-top: 150px; }
    }
    
    #header { 
	    background: none !important; 
	    
	    .blur-box {
		    background: none !important;
		    height: 100px;
		    margin-top: 30px !important;
		    
		    .line {
			    height: 50px;
			    line-height: 52px;
			    font-size: 30px;
			    background: rgba(0,0,0,0.3);
			    
			    &:nth-child(2) { top: 50px; }
			    &:nth-child(3) { display: none; }
		    }
		    
		    /*
		    &:before {
				width: 100%;
				height: 300px;
				content: '';
				position: absolute;
				left: 0;
				background: url('/css/layout/banner.jpg') no-repeat;
				background-position: center top;
				background-size: cover;
				filter: blur(10px);
				z-index: 10;
			}*/
	    }
	}
}

@media (min-width : 300px) and (max-width : 600px) {
	
}

