<?php /* ?>
<script type="text/javascript" src="http://scripts.fastesthost.cz/js/slimbox/slimbox.js"></script>
<?php */ ?>
<?php

/*$images = array(
    0=>array('file'=>'https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/10153675_485238201603543_6551510541907815750_n.jpg?oh=30fc58675ad522743247cd99c4b8a51a&oe=5A17386B'),
);
    $images = json_encode($images);
    $img_set = array(
            'imgs'=>$images,
            'first'=>true,
            'link'=>$product_url,
            'class'=>'img_test ',
            'title'=>'title',
            'width'=>(isset($spec_size)?$spec_size['width']:200),
            'height'=>(isset($spec_size)?$spec_size['height']:200),
            'path'=>'/uploaded/products/',
            'zoom'=>true
        );
    //pr($img_set);
    echo $this->Fastest->img($img_set);
*/
if (isset($galery)){
	$article['Article']['fotogaleries'] = $galery['imgs'];
	$article['Article']['name'] = $galery['name'];
	$url_fotogalerie = 'fotogalerie';
} else {
	$url_fotogalerie = 'clanky_fotogalerie';
}
echo '<div class="fotogalerie_obal">';
echo '<ul class="fotogalerie_list">';
	foreach ($article['Article']['fotogaleries'] AS $fotogalery){
		list($fotogalery_link, $fotogalery_caption) = explode('|',$fotogalery);
			//pr($fotogalery_caption);
			if (isset($fotogalery_caption) && !empty($fotogalery_caption)){
				$pos = strpos($fotogalery_caption,'.');
				if ($pos === false)
					$fotogalery_caption = $fotogalery_caption;
				else	
					$fotogalery_caption = $article['Article']['name'];
			} else
				$fotogalery_caption = $article['Article']['name'];
			
			echo '<li class="fotogalerie_lista">';
            list($fotogalery_link, $fotogalery_caption) = explode('|',$fotogalery);
                $images = array(
                    //0=>array('file'=>'https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/10153675_485238201603543_6551510541907815750_n.jpg?oh=30fc58675ad522743247cd99c4b8a51a&oe=5A17386B'),
                    0=>array('file'=>$fotogalery_link),

                );
    
                $images = json_encode($images);
                $img_set = array(
                    'imgs'=>$images,
                    'first'=>true,
                    //'link'=>$product_url,
                    'class'=>'img_test ',
                    'title'=>'title',
                    'width'=>(isset($spec_size)?$spec_size['width']:200),
                    'height'=>(isset($spec_size)?$spec_size['height']:200),
                    'path'=>'/uploaded/clanky_fotogalerie/normal/',
                    'zoom'=>true
                );
                echo $this->Fastest->img($img_set);
            }
echo '</ul>';
echo '<br class="clear" />';
echo '</div>';
?>
<!--
$img_url_large = '/uploaded/'.$url_fotogalerie.'/large/'.$fotogalery_link;
			$img_url_small = '/image_resize.php?file=./uploaded/'.$url_fotogalerie.'/small/'.$fotogalery_link.'&amp;w=95&amp;h=95';

			//echo $html->link($html->image($img_url_small,array('alt'=>$fotogalery_caption)),$img_url_large,array('rel'=>'clearbox[gallery=clanek_fotogalerie,,tnhrf='.$img_url_large.']','title'=>$fotogalery_caption),null,false);
			echo $html->link($html->image($img_url_small,array('alt'=>$fotogalery_caption)),$img_url_large,array('data-rel'=>'lightbox-atomium','title'=>$fotogalery_caption),null,false);
			echo '</li>';-->
