<?php 
$pagination->setPaging($paging);
//pr($pagination);
if (isset($articles_list_all) AND count($articles_list_all)>0){
	foreach($articles_list_all as $article){
	 if($article['Article']['name']!=''){
		echo '<article class="pb25">';
		echo '<h2 class="article_title">';
		$article_link = ((CURRENT_LANGUAGE != DEFAULT_LANGUAGE)?$lang:'').'/'.lang_alias_article.'/'.$article['Article']['alias_'].'/'.$article['Article']['id'].'/';
		
		echo $html->link(ucfirst($article['Article']['name']),$article_link,array('title'=>ucfirst($article['Article']['name']),'class'=>'ajax_href'),null,false).'</h2>'; 
		
		echo '<div class="article_text">';
			echo '<p class="w100p">'.ucfirst($fastest->orez($article['Article']['text'],400)).'</p>'; //$html->link(lang_zobrazit_cely_clanek,$article_link,array('title'=>$article['Article']['name'],'class'=>'ajax_href'),null,false)
		echo '</div>';
		echo '</article>';
		}
	}
	echo '<br class="clear" />';
	echo $this->renderElement('pagination');
}
?>