<div class="mainImg cover_img h270 bgPosTop" data-src="/css/layout/banner/bg-tv-sec4.png">
<div class="middleText">
<h1 class="title">Výsledky vyhledávání<small> #<?php echo $this->params['url']['data']['search_fulltext']; ?></small></h1>
</div>
</div>

<br class="clear" />

<div class="wrapper mt50">
	<h1 class="txt-center uppercase big">
		<?php echo lang_vyhledavani_nenalezeno ?>
	</h1>
</div>