<form method="post" id="findServices" action="/chci-podu">
    <div class="wrapper-relative">
	    <input data-url="/searchAddress/city/" id="searchAddr" class="input google_autocomplete2 autocomplete clearForm" type="text" name="mesto" value="<?php echo (isset($_SESSION['mesto'])?$_SESSION['mesto']:''); ?>" placeholder="Zadejte své město" />
    </div>
    <div class="wrapper-relative">
        <input data-url="/searchAddress/street/" id="searchAddr1" class="input google_autocomplete2 autocomplete clearForm" value="<?php echo (isset($_SESSION['ulice'])?$_SESSION['ulice']:''); ?>" type="text" name="ulice" placeholder="Zadejte svou ulici" />
    </div>
    <div class="wrapper-relative">
        <input data-url="/searchAddress/des_num/" id="searchAddr2" value="<?php echo (isset($_SESSION['cp'])?$_SESSION['cp']:''); ?>" class="input w100 google_autocomplete2 autocomplete clearForm" type="text" name="cp" placeholder="Vaše Č.P." />
    </div>
    <input type="hidden" value="<?php echo $type; ?>" class="searchAddrType" />
    
	<input  type="submit" value="Najít služby" class="button blue searchAddrButton" id="searchAddrButton<?php echo $type; ?>" />
<?php //pr('a'); ?>
<?php //pr($_SESSION); ?>

</form> 
<!--<div id="pac-container">
    <input class="google_autocomplete2 autocomplete" data-url="/searchAddress/city/" id="searchAddr" type="text" placeholder="Zadejte město">
    <input class="google_autocomplete2 autocomplete" data-url="/searchAddress/street/" id="searchAddr1" type="text" placeholder="Zadejte ulici">
    <input class="google_autocomplete2 autocomplete" data-url="/searchAddress/des_num/" id="searchAddr2" type="text" placeholder="Zadejte orientační číslo">
</div>--> 