<form method="post" id="findServices" action="/chci-podu">
    <input data-url="/searchAddress/city/" id="searchAddr" class="input google_autocomplete2 autocomplete" type="text" name="mesto" placeholder="Zadejte své město" />
    <input data-url="/searchAddress/street/" id="searchAddr1" class="input google_autocomplete2 autocomplete" type="text" name="ulice" placeholder="Zadejte svou ulici" />
    <input data-url="/searchAddress/des_num/" id="searchAddr2" class="input w100 google_autocomplete2 autocomplete" type="text" name="cp" placeholder="Vaše Č.P." />
    <input  type="submit" value="Najít služby" class="button blue" />
</form>