<style>
.img_test {
display:block;
border:1px solid red;
width:200px;
height:200px;
}
</style>
<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <a href="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/10441101_1023268097685396_1808492587835345109_n.jpg?oh=664a2ab658468840444260167c07b538&oe=5A22CA5D" class="swipebox">
			<img src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/10441101_1023268097685396_1808492587835345109_n.jpg?oh=664a2ab658468840444260167c07b538&oe=5A22CA5D" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-4">
            <a href="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/13614986_1178013445552166_5388022365455986597_n.jpg?oh=032cf84ade9af7b1a8a23ff37b00f06e&oe=5A5F4463" data-toggle="lightbox" data-gallery="example-gallery" data-type="image">
                <img src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/13614986_1178013445552166_5388022365455986597_n.jpg?oh=032cf84ade9af7b1a8a23ff37b00f06e&oe=5A5F4463" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-4">
            <a href="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/10153675_485238201603543_6551510541907815750_n.jpg?oh=30fc58675ad522743247cd99c4b8a51a&oe=5A17386B" data-toggle="lightbox" data-gallery="example-gallery" data-type="image">
                <img src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/10153675_485238201603543_6551510541907815750_n.jpg?oh=30fc58675ad522743247cd99c4b8a51a&oe=5A17386B" class="img-responsive">
            </a>

<?php
$images = array(
	0=>array('file'=>'https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/10153675_485238201603543_6551510541907815750_n.jpg?oh=30fc58675ad522743247cd99c4b8a51a&oe=5A17386B'),
);
$images = json_encode($images);
$img_set = array(
				'imgs'=>$images,
				'first'=>true,
				//'link'=>$product_url,
				'class'=>'img_test ',
				'title'=>'title',
				'width'=>(isset($spec_size)?$spec_size['width']:100),
				'height'=>(isset($spec_size)?$spec_size['height']:100),
				'path'=>'/uploaded/products/',
				'zoom'=>true


		);
		//pr($img_set);
		echo $this->Fastest->img($img_set);
?>
        </div>
    </div>
</div>