<?php //    pr($carouselData); ?>

<section>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <?php foreach($carouselData['Carousel']['items'] as $i=> $item):  ?>
                    <div class="item <?php echo ($i==0? "active":"");?>">
                        <!--<a href='<?#= $item['href']; ?>'>-->
                            <img src="http://p-laceto.fastest.cz<?= $item['img']; ?>">
                        <!--</a>-->
                    </div>
                <?php endforeach; ?>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
</section>
