<?php /* ?>
<script type="text/javascript">
//<![CDATA[
function load_modals(){	
	if ($('body').getElement('.fst_modal')){
		var loadModals = Asset.javascript('/js/fstModal/fstModal.js', {
			id: 'script_load_modals',
			onLoad: function(){
			}
		});
	}
}
window.addEvent('domready',function(){
load_modals();
});
//]]>
</script>
<?php */ ?>
<?php /* ?>
<script src='/js/fstModal/fstModal.js'></script>
<?php */ ?>
<div class="container text-center">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Open Modal</button>
	<script>
	function complete(){
		console.log('complete');
		//alert('')
	}
	
	</script>
	<?php 
	$params = array(
		'content'=>'<p>test</p></p>aaa</p>',
		//'vertical_position'=>'center',
		'onComplete'=>'complete()',
	);
	echo $html->link('test','/info.php',array('class'=>'fst_modal','title'=>'test','data-params'=>json_encode($params)),null,false); ?>
</div>
<?php /* ?>

<div id="myModal" class="center modal fade" role="dialog"><?php #if you want to fixed top -> delete class center ?>
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content-default">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body-default">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<?php */ ?>