<div id="pac-container">
    <input class="google_autocomplete2 autocomplete" data-url="/searchAddress/city/" id="searchAddr" type="text" placeholder="Zadejte město">
    <input class="google_autocomplete2 autocomplete" data-url="/searchAddress/street/" id="searchAddr1" type="text" placeholder="Zadejte ulici">
    <input class="google_autocomplete2 autocomplete" data-url="/searchAddress/des_num/" id="searchAddr2" type="text" placeholder="Zadejte orientační číslo">
</div>
<script type="text/javascript">
//<![CDATA[
  /* window.addEvent('domready',function(){
		var req_run = false;
		if ($('searchAddr'))
		$('searchAddr').addEvent('keydown',function(e){
			var value = e.target.value;
			if (value.length > 4){
				console.log(value);
				
				if (req_run != false){
					req_sent.cancel();
					req_run = false;
				}
				console.log('/searchAddress/'+value);
				if (req_run == false){
					req_run = true;
					
					req_sent = new Request.JSON({
						url:'/searchAddress/'+value,//routa v controleru
						onError: req_error = (function(data){
							req_run = false;
							
							//button_preloader(button);
						}).bind(this),

						onComplete :(function(json){
							req_run = false;
							//button_preloader(button);
							if (json.result == false){
							} else {
								console.log(json.data);
							}
							json = null;
							req_sent.cancel();
						}).bind(this)
					});
					req_sent.setHeader('X-CSRF-Token', Cookie.read('csrfToken'));
					req_sent.send();
				}
			}
		});
   });*/
//]]>
</script>
