/* SLIMBOX */

#lbOverlay {
	position: fixed;
	z-index: 99999999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	cursor: pointer;
}

#lbCenter{
	position: absolute;
	z-index: 999999999;
	overflow: hidden;
	background-color: #fff;
}
#lbBottomContainer {position: absolute;
	z-index: 999999999;
	background-color: #fff;}

.lbLoading {
	background: #fff url(loading.gif) no-repeat center;
}

#lbImage {
	background-size:100%;
	position: absolute;
	left: 0;
	top: 0;
	border: 10px solid #fff;
	background-repeat: no-repeat;
}
#lbImage div {max-width:800px;
	max-height:600px;}

#lbPrevLink, #lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
}

#lbPrevLink {
	left: 0;
}

#lbPrevLink:hover {
	background: transparent url(prevlabel.png) no-repeat 0 15%;
}

#lbNextLink {
	right: 0;
}

#lbNextLink:hover {
	background: transparent url(nextlabel.png) no-repeat 100% 15%;
}

#lbBottom {
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	line-height: 1.4em;
	text-align: left;
	border: 10px solid #fff;
	border-top-style: none;
}

#lbCloseLink {
	display: block;
	float: right;
	width: 66px;
	height: 22px;
	background: transparent url(closelabel.png) no-repeat center right;
	margin: 5px 0;
	outline: none;
}

#lbCaption, #lbNumber {
	margin-right: 71px;
	color:#000;
}

#lbCaption {
	font-weight: bold;
}
