
<form class="form" action='/<?php echo guestbook_link;?>/' method="POST" onsubmit='return false;' id="Guestbook">
	<?php echo $htmlExt->hidden('Guestbook/spam',array());?>
	<?php echo $htmlExt->hidden('Guestbook/guestbook_group_id',array('value'=>$form_id));?>
	<?php echo $htmlExt->input('Guestbook/name',array('tabindex'=>10,'class'=>'text validate[\'required\']','tabindex'=>1,'label'=>'Vaše jméno')).'<br />';?>
	<?php echo $htmlExt->textarea('Guestbook/text',array('tabindex'=>11,'class'=>'text validate[\'required\']','tabindex'=>1,'label'=>'Váše zpráva')).'<br />';?>
	
	
	<label>&nbsp;</label><?php echo $htmlExt->submit(lang_odeslat,array('id'=>'Guestbook_send','class'=>'button')).'<br />';?>	
</form>
<br />
<div id='items'>
<?php echo $this->renderElement('../guestbooks/items');?>
</div>

<script type="text/javascript" src="http://scripts.fastesthost.cz/js/formcheck/formcheck.js"></script>
<link rel="stylesheet" href="http://scripts.fastesthost.cz/js/formcheck/theme/red/formcheck.css" type="text/css" media="screen" />
<script type="text/javascript" language="javascript">
//<![CDATA[
	var form_id = 'Guestbook';
	guestbook_form(form_id);
//]]>
</script>