<?php
//pr($actuals_box);
if (isset($actuals_box) && count($actuals_box)>0){
	echo '<ul class="actual_list">';
		foreach($actuals_box AS $ab){
			echo '<li>';
				echo '<strong>'. $html->link($ab['Actual']['name'],$lang.'/'.actuals_link_detail.'/'.$ab['Actual']['alias_'].'/'.$ab['Actual']['id'].'/',array('title'=>$ab['Actual']['name']),null,false) .'</strong>';
				echo '<p>'.$fastest->orez($ab['Actual']['text'],100).'</p>';
			echo '</li>';
		}
	echo '</ul>';
	echo $html->link(lang_vsechny_aktuality,$lang.'/'.actuals_link.'/'.$actuals_box[0]['ActualGroup']['id'].'/',array('title'=>lang_vsechny_aktuality),null,false);
	echo '<br class="clear"/>';
}?>