<div id="items" class="wrapper">
<?php  
echo '<div class="article_text">';
		echo '<h1>'.$page_caption.'</h1>';
		if (isset($actual['Actual']['imgs']['0']))
		$img = $fastest->check_img($actual['Actual']['imgs']['0'],'/uploaded/aktuality_foto/');
		if (isset($img)){
			
			echo $html->link($html->image($img['normal'], array('alt'=>$actual['Actual']['name'])),$img['large'],array('title'=>$actual['Actual']['name'],'rel'=>'clearbox'),null,false);
		}
		
		
		
		
		
		
	echo '<p>'.$fastest->czechDate($actual['Actual']['created']).'</p>'.ucfirst($actual['Actual']['text']);

	
	if (isset($actual['Actual']['fotogaleries']) && is_array($actual['Actual']['fotogaleries'])&& count($actual['Actual']['fotogaleries']) > 0){
	echo $this->renderElement('../actuals/elements/fotogalerie',array('actual'=>$actual));
	}	



echo '</div>';
?>
</div>