<script type="text/javascript" src="http://scripts.fastesthost.cz/js/slimbox/slimbox.js"></script>
<?php 
echo '<div class="fotogalerie_obal">';
echo '<ul class="fotogalerie_list">';
	foreach ($actual['Actual']['fotogaleries'] AS $fotogalery){
		list($fotogalery_link, $fotogalery_caption) = explode('|',$fotogalery);
			//pr($fotogalery_caption);
			if (isset($fotogalery_caption) && !empty($fotogalery_caption)){
				$pos = strpos($fotogalery_caption,'.');
				if ($pos === false)
					$fotogalery_caption = $fotogalery_caption;
				else	
					$fotogalery_caption = $actual['Actual']['name'];
			} else
				$fotogalery_caption = $actual['Actual']['name'];
			
			echo '<li class="fotogalerie_lista">';
			$img_url_large = '/uploaded/aktuality_fotogalerie/large/'.$fotogalery_link;
			$img_url_small = '/image_resize.php?file=./uploaded/aktuality_fotogalerie/small/'.$fotogalery_link.'&amp;w=95&amp;h=95';
			
			//echo $html->link($html->image($img_url_small,array('alt'=>$fotogalery_caption)),$img_url_large,array('rel'=>'clearbox[gallery=clanek_fotogalerie,,tnhrf='.$img_url_large.']','title'=>$fotogalery_caption),null,false);
			echo $html->link($html->image($img_url_small,array('alt'=>$fotogalery_caption)),$img_url_large,array('rel'=>'lightbox-atomium','title'=>$fotogalery_caption),null,false);
			echo '</li>';
	}		
echo '</ul>';
echo '<br class="clear" />';
echo '</div>';
?>