<?php //pr($poll); ?>
<div class="poll_box" id="poll<?php echo $poll_id;?>">
	<div id="poll_refresh<?php echo $poll_id;?>">
	<?php echo $this->renderElement('polls/items',array('poll',$poll)); ?>
	</div>
</div>